body>header {
    background: #eee;
    padding: 5px;

}

body>header>a>img, body>header a  {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px;
    font-size: 1.2em;
}

body> footer {
    background: #eee;
    padding: 5px;
    text-align: center;
    bottom: 10px;
    clear: both;
    position: absolute;
    right: 0;

    left: 0;


}
footer {
    background: #eee;
    padding: 5px;
    text-align: center;
    bottom: 10px;
    clear: both;
    position: absolute;
    right: 0;

    left: 0;
}
table th, table td {
    background: #DDD;
    padding: 5px;
}

ul#messages li {
    display: block;
    width: 80%;
    margin: 5px auto;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

ul#messages li.info {
    background: #7f7;
}

ul#messages li.error {
    background: #d00;
    color: white;
}

.validation-error {
    vertical-align: top;
    margin-left: 10px;
    color: red;
}

#logged-in-info {
    float: right;
    margin-top: 18px;
}

#logged-in-info form {
    display: inline-block;
    margin-right: 10px;
}

body>aside {
    float: right;
    width: 200px;
    background: #CCC;
    padding: 15px;
    margin-left: 20px;
}

body>aside h2 {
    margin: 5px 0px 15px 0px;
}

body>aside a {
    display: block;
    margin: 5px 0px;
    text-decoration: none;
}

body>main:after {
    content: '';
    display: block;
    clear: both;
}
.home{
    float:right;
    color: #9d9d9d;
}
.home a{
    color: #9d9d9d;
    padding-top: 15px;
    padding-bottom: 15px;
}
.hello{
    float:right;
    color:#9d9d9d;
}
#myNavbar{
    width: 80%;
}
.homeNav{
width: 80%;

}
@media screen and (max-device-width:768px ) {
    #myNavbar {

        width: 80%;

    }
    .home {
        padding-top: 10px;
        padding-bottom: 10px;
        float: left;
        text-align: center;
        margin-left: 10px;
    }
    .hello{
        float: left;
    }
}

.avatar{
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

hr.tech{
    background-color:#e0e0e0;height:2em;
    display: block;
    margin: 0px;
    width: 100%;
}

.pofile-container{
    background-color: #46b8da;
    width    : 50%;
    height   : 50%;
    left     : 25%;
    top      : 250px;
    margin-left : -100px; /* half of the width  */
    margin-top  : -100px; /* half of the height */
}
.profilePicture{
    width: 50%;
    height: 50%;
}
.pofile-container span {
    font-size: 1.6em;
}
.pofile-container p {
    font-size: 1.8em;
}